{% extends 'base.html' %} {% block title %} SignUp {% endblock %} {% block
csslink %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'signup.css')}}"
/>{% endblock %} {% block contents %} {% with messages = get_flashed_messages()
%} {% if messages %} {% for msg in messages %}
<p class="flash">{{msg}}</p>
{% endfor %} {% endif %} {% endwith %}

<main>
  <form action="/verifySignup" method="POST">
    <fieldset>
      <legend class="signup-title">Sign UP</legend>

      <label for="name">Name:</label>
      <input
        class="field"
        type="text"
        name="name"
        placeholder="Enter your Name"
        autocomplete="off"
      />

      <label for="email">Email:</label>
      <input
        class="field"
        type="email"
        name="email"
        placeholder="Enter your email"
        autocomplete="off"
      />

      <input class="submit" type="submit" name="submit" />
    </fieldset>
  </form>
</main>

{% endblock%}
